# Core packages
pdf2image>=1.16.3
ultralytics>=8.0.152
torch>=2.0.1
torchvision>=0.15.2
opencv-python>=4.8.0
Pillow>=9.4.0

# CLIP requirements
ftfy>=6.1.1
regex>=2022.10.31
git+https://github.com/openai/CLIP.git

# Additional dependencies
numpy>=1.23.5
tqdm>=4.65.0

# Web UI
streamlit>=1.28.0
pandas>=1.5.0